<% include ../header %>
<!--END HEADER-->

<section class="section-businessVisitList">
<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a class="active" href="/businessVisit">企業參訪</a></li> |
    <li><a href="/tuv">六大專案</a></li>
  </ul>
</div>
<div class="six-hg-title">
  <div class="six-hg-tit main-color">
      <span>企業參訪</span>
  </div>
</div>
  <br>
  <br>
  <div class="why-bsv main1-color-br">
    <h4 class="main1-color">參訪宗旨</h4>
    <p>透過不同產業的企業參訪，了解各產業的趨勢，並藉此深入接觸企業文化、職場環境、公司發展與未來規劃。讓學員能更貼近職場，也更能增進對未來職涯探索的規劃。</p>
  </div>
  <div class="bsv4">
    
    <% for(var i = 0; i < datas.length; i++){ %>
      <% if(i % 2 == 0 ){ %>
        <div class="bsV">
          <img src="<%= datas[i].photo %>">
          <div>
            <h3><%= datas[i].title %></h3>
            <hr>
            <p><%- datas[i].content %></p>
          </div>
        </div>
      <% } %>
      <% if(i % 2 == 1 ){ %>
        <div class="bsV2">
          
          <img src="<%= datas[i].photo %>">
          <div>
            <h3><%= datas[i].title %></h3>
            <hr>
            <p><%- datas[i].content %></p>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
 <div class="top">
    <div><img src="/images/index/top.png"></div>
    Top
 </div>
</section>
  <script src="/js/specifies/frontend/aboutNTCA.js"></script>


<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER
